<!DOCTYPE html>
<html>
    <head>
        <title>Airwise</title>
        <link rel="shortcut icon" href="{{ url_for('images', filename='favicon.png') }}">
    </head>
    <body>
        <p>Temperature: {{humidity}}&#8451;</p>
        <h1>this is our test website</h1>
        <p> this is a fun little thing we do be makin</p>
        <table>
            <tr>
                <td>im bob</td>
                <td>im bob too</td>
                <td>im not bod</td>
            </tr>
            <tr>
                <td>im jim</td>
                <td>im jim too</td>
                <td>im not jim</td>
            </tr>
            <tr>
                <td>im jake</td>
                <td>im bob jake</td>
                <td>im not jake</td>
            </tr>
        </table>
    </body>
</html>